.nav-firstName {
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
}
.nav-link{
    text-decoration: none;
    color: black;
}

.nav-link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}